@font-face {
  font-family: "Bringin";
  src: url("./fonts/bringin/Bringin.eot");
  src: url("./fonts/bringin/Bringin.eot?#iefix") format("embedded-opentype"),
    url("./fonts/bringin/Bringin.woff2") format("woff2"),
    url("./fonts/bringin/Bringin.woff") format("woff"),
    url("./fonts/bringin/Bringin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
